@model IEnumerable<Phonebook.Models.Contact>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Contacts" class="btn btn-success">Create</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td> <a asp-action="Index"
                            asp-route-sortOrder="@ViewData["FNameSortParm"]">@Html.DisplayNameFor(model =>
                            model.FirstName)</a></td>
                    <td> <a asp-action="Index"
                            asp-route-sortOrder="@ViewData["LNameSortParm"]">@Html.DisplayNameFor(model =>
                            model.LastName)</a></td>
                    <td> <a asp-action="Index"
                            asp-route-sortOrder="@ViewData["EmailSortParm"]">@Html.DisplayNameFor(model =>
                            model.Email)</a></td>
                    <td><a asp-action="Index"
                            asp-route-sortOrder="@ViewData["MobileSortParm"]">@Html.DisplayNameFor(model =>
                            model.Mobile)</a></td>
                    <td>Manage</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Mobile</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Contacts" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Contacts" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>