@model Phonebook.Common.PaginatedList<Phonebook.Models.Contact>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" asp-controller="Contacts" class="btn btn-success">Create</a>
    </div>
</div>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["FNameSortParm"]" asp-route-currentFilter="
                            @ViewData["CurrentFilter"]">
                            @Html.DisplayNameFor(model =>model[0].FirstName)
                        </a>
                    </td>
                    <td>
                        <a asp-action=" Index" asp-route-sortOrder="@ViewData["LNameSortParm"]" asp-route-currentFilter="
                            @ViewData["CurrentFilter"]">
                            @Html.DisplayNameFor(model =>model[0].LastName)
                        </a>
                    </td>
                    <td>
                        <a asp-action=" Index" asp-route-sortOrder="@ViewData["EmailSortParm"]" asp-route-currentFilter="
                            @ViewData["CurrentFilter"]">
                            @Html.DisplayNameFor(model =>model[0].Email)
                        </a>
                    </td>
                    <td>
                        <a asp-action=" Index" asp-route-sortOrder="@ViewData["MobileSortParm"]"
                            asp-route-currentFilter="
                            @ViewData["CurrentFilter"]">
                            @Html.DisplayNameFor(model =>model[0].Mobile)
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Mobile</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Contacts" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Contacts" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNum="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]"
            asp-route-pageNum="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
            class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>